nbsphinx==0.8.12
sphinx-rtd-theme==1.2.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==2.0.0
sphinxcontrib-jsmath
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
myst-parser==0.18.1
-e .
